@model Book
@{
    var request = ViewContext.HttpContext.Request;
    string returnUrlValue = request.QueryString.HasValue ? $"{request.Path}{request.QueryString}" : request.Path.ToString();

    decimal price = Math.Round((Model.Price * (1 - (decimal)Model.Discount)), 2);
}
<div class="card h-100">

    <a asp-action="DetailsOfBook" asp-controller="Books" asp-route-id="@Model.Id"><img src="@Model.ImageUrl" class="card-img-top" alt="...."></a>

    <div class="card-body">
        <h3>
            <a asp-action="DetailsOfBook" asp-controller="Books" asp-route-id="@Model.Id" class="card-title" style="color:peru">@Model.Name</a>
        </h3>
        <a style="color:darkred " asp-action="DetailsOfAuthor" asp-controller="Authors" asp-route-id="@Model.AuthorId">
            <p class="card-text">@Model.Author.Name @Model.Author.LastName</p>
        </a>
        <p class="card-text">@Model.Publisher.Name</p>
        <p style="color:dimgray" class="card-text">@Model.Price TL yerine</p>
        <p>  <img src="~/discount (1).png" /> @(Model.Discount*100) <img src="~/down-arrow.png" />  </p>

        <h5 style=" font-family:'Times New Roman', Times, serif"> @price TL</h5>
        <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Id" method="post">
           
            <button type="submit" class="btn btn-primary">Sepete Ekle</button>
            <span class="cart-item"></span>

        </form>
    </div>
</div>

